.add-btn {
  font-size: 1.6rem;
  font-weight: 500;
  background-color: white;
  border-radius: 2rem;
  width: 12.5rem;
  height: 3.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
