@font-face {
  font-family: 'Palanquin';
  src: url('../assets/fonts/Palanquin/Palanquin-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Palanquin';
  src: url('../assets/fonts/Palanquin/Palanquin-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Palanquin';
  src: url('../assets/fonts/Palanquin/Palanquin-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Palanquin';
  src: url('../assets/fonts/Palanquin/Palanquin-SemiBold.ttf')
    format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Palanquin';
  src: url('../assets/fonts/Palanquin/Palanquin-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Palanquin-Dark';
  src: url('../assets/fonts/Palanquin_Dark/PalanquinDark-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Palanquin-Dark';
  src: url('../assets/fonts/Palanquin_Dark/PalanquinDark-Medium.ttf')
    format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Palanquin-Dark';
  src: url('../assets/fonts/Palanquin_Dark/PalanquinDark-SemiBold.ttf')
    format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Palanquin-Dark';
  src: url('../assets/fonts/Palanquin_Dark/PalanquinDark-Bold.ttf')
    format('truetype');
  font-weight: 700;
  font-style: normal;
}
